.home-screen {
    background-color: #1242f050;
    padding: 0 20px;
}

.home-screen .todos-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 5rem  0 1.875rem;
}

.home-screen .action-buttons {
    position: sticky;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 80px;
}